@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}
//temaplates
$main-color: #0e304e;
$border-radius: 5px;

$index: calc(1vw + 1vh);
$conversion-factor: 24px;

@function size($px) {
	@return calc($px / $conversion-factor * $index);
}

@mixin main-container() {
	width: 100%;
	padding-right: size(120px);
	padding-left: size(120px);
	@media screen and (max-width: 1050px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin btn($py, $px, $fon, $color) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: size($py) size($px);
	background: $fon;
	border-radius: $border-radius;
	color: $color;
	font-size: size(16px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
		padding: $py $px;
	}
}

@mixin flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-stretch {
	display: flex;
	align-items: stretch;
}

@mixin flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-col-stretch {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@mixin flex-col-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

body {
	position: relative;
	width: 100%;
	@include flex-col-start();
	font-family: "Poppins", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
	&.overflow-hidden {
		overflow: hidden;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.flex-start {
	@include flex-start();
}

.flex-center {
	@include flex-center();
}
.flex-end {
	@include flex-end();
}

.flex-col-end {
	@include flex-col-end();
}

.flex-col-start {
	@include flex-col-start();
}

.flex-col-stretch {
	@include flex-col-stretch();
}

.flex-col-center {
	@include flex-col-center();
}

.flex-stretch {
	@include flex-stretch;
}

.span-text {
	color: rgba(13.1, 55.74, 92.44, 0.5);
	font-size: size(14px);
	font-weight: 400;
	line-height: 100%;
	word-wrap: break-word;
	margin-bottom: size(17px);
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 17px;
	}
}

.main-title {
	color: white;
	font-size: size(40px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 28px;
	}
}

.block-title {
	color: #292929;
	font-size: size(28px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 23px;
	}
	span {
		color: #065ca6;
	}
}

.sub {
	color: rgba(255, 255, 255);
	font-size: size(16px);
	font-weight: 300;
	line-height: 160%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
	}
}

.btn-bg {
	position: relative;
	@include btn(22.5px, 55.5px, linear-gradient(270deg, #32568b 0%, #0d385c 100%), #fff);
	&::before {
		content: " ";
		position: absolute;
		top: 50%;
		left: -1%;
		transform: translateY(-50%);
		width: 40%;
		height: 110%;
		background-color: #fff;
		border-radius: 7px;
		z-index: -1;
	}
}

.num,
.num__container {
	@include flex-center();
	gap: 3px;
	color: #fff;
	font-size: size(80px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
	&::after {
		content: var(--after-content);
	}
	@media screen and (max-width: 1050px) {
		font-size: 50px;
	}
}

// !Header
header {
	width: 100vw;
	@include main-container();
	position: fixed;
	top: 0;
	background-color: transparent;
	@include flex-center();
	padding-top: size(14px);
	padding-bottom: size(7px);
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	z-index: 10;
	transition: all 0.5s;
	@media screen and (max-width: 1365px) {
		gap: 10px;
	}
	@media screen and (max-width: 1050px) {
		padding-top: 19px;
		padding-bottom: 19px;
		background-color: white;
	}
}
.logo__container {
	position: relative;
	margin-left: size(50px);
	@media screen and (max-width: 1050px) {
		margin-left: 0;
	}
	&::before {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: size(209px);
		height: size(114px);
		background-color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		z-index: -1;
	}
	img {
		min-width: max-content;
		width: size(111px);
		height: size(60px);
		@media screen and (max-width: 1050px) {
			width: 98px;
			height: 52px;
		}
	}
}
.navbar {
	display: flex;
	align-items: center;
	gap: size(45px);
	@media screen and (max-width: 1365px) {
		gap: size(20px);
	}
	& > * {
		white-space: nowrap;
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}
.nav__item {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(18px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
	transition: all 0.5s;
	@media screen and (max-width: 1050px) {
		color: #0e304e;
		font-size: 25px;
		font-weight: 400;
		line-height: 130%;
		word-wrap: break-word;
		&::after {
			filter: invert(17%) sepia(56%) saturate(2927%) hue-rotate(188deg) brightness(0) contrast(94%);
		}
	}
	&.active {
		color: #0d385c;
		&::after {
			filter: invert(17%) sepia(56%) saturate(2927%) hue-rotate(188deg) brightness(0) contrast(94%);
		}
	}
}
.submenu {
	position: relative;
	@media screen and (max-width: 1050px) {
		width: 100%;
		@include flex-col-start();
		gap: 0;
	}
	&.active {
		gap: 21px;
		.submenu__container {
			height: max-content;
			padding-top: size(32px);
			padding-bottom: size(32px);
			opacity: 1;
			overflow: visible;
			@media screen and (max-width: 1050px) {
				padding-top: 32px;
				padding-bottom: 32px;
			}
		}
		.nav__item::after {
			transform: rotate(-180deg);
		}
	}
	.nav__item {
		@include flex-center();
		justify-content: flex-start;
		gap: size(10px);
		transition: all 0.5s;
		@media screen and (max-width: 1050px) {
			gap: 8px;
		}
		&::after {
			content: " ";
			width: size(6px);
			height: size(4px);
			background: url(../assets/icons/triangel-white.svg);
			background-repeat: no-repeat;
			background-size: contain;
			@media screen and (max-width: 1050px) {
				width: 6px;
				height: 4px;
			}
		}
	}
	.submenu__container {
		position: absolute;
		left: 0;
		top: 200%;
		width: size(328px);
		height: 0; //!
		@include flex-col-start();
		gap: size(21px);
		background: rgba(7.53, 41.51, 72.25, 0.15);
		border-radius: 10px;
		border: 1px rgba(255, 255, 255, 0.2) solid;
		backdrop-filter: blur(50px);
		padding: 0 size(30px); //!
		overflow: hidden; //!
		opacity: 0; //!
		transition: all 0.5s;
		@media screen and (max-width: 1050px) {
			position: static;
			max-width: 95%;
			width: 328px;
			gap: 21px;
			margin-left: 20px;
			margin-right: 20px;
			padding: 0 30px; //!
		}
		.submenu__nav__item {
			width: 100%;
			color: rgba(255, 255, 255, 0.8);
			font-size: size(16px);
			font-weight: 500;
			line-height: 130%;
			word-wrap: break-word;
			white-space: wrap;
			@media screen and (max-width: 1050px) {
				color: rgba(0, 0, 0, 0.5);
				font-size: 16px;
				font-weight: 500;
				line-height: 20.8px;
				word-wrap: break-word;
			}
		}
	}
}
.phone {
	@include flex-col-end();
	gap: size(6px);
}
.phone__link {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(18px);
	font-weight: 700;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 18px;
	}
}
.phone__sub {
	color: rgba(255, 255, 255, 0.7);
	font-size: size(14px);
	font-weight: 400;
	text-decoration: underline;
	line-height: 100%;
	word-wrap: break-word;
	white-space: nowrap;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 5px;
	}
}
.request__btn {
	@include btn(21.5px, 53px, linear-gradient(270deg, #32568b 0%, #0d385c 100%), #fff);
	@media screen and (max-width: 1365px) {
		padding-left: size(20px);
		padding-right: size(20px);
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}

// Mobile menu
.mobile-menu {
	position: fixed;
	inset: 0;
	@include main-container();
	width: 100vw;
	height: 0;
	@include flex-col-start();
	background: #f1f1f1;
	overflow-y: auto;
	z-index: 8;
	transition: all 0.5s;
	@media screen and (min-width: 1050px) {
		display: none;
	}
	&.active {
		height: 100vh;
		padding-top: 150px;
		padding-bottom: 70px;
	}
}
.mobile-menu__navbar {
	@include flex-col-start();
	gap: 25px;
	@media screen and (max-width: 1050px) {
		width: 100%;
	}
	.navbar__item {
		color: #0e304e;
		font-size: 25px;
		font-weight: 400;
		line-height: 130%;
		word-wrap: break-word;
	}
}
.address {
	width: size(292px);
	color: rgba(255, 255, 255, 0.7);
	font-size: size(14px);
	font-family: Poppins, sans-serif;
	font-weight: 400;
	line-height: 152.3%;
	word-wrap: break-word;
	margin-bottom: size(30px);
	span {
		font-size: size(12px);
		@media screen and (max-width: 1050px) {
			font-size: 12px;
		}
	}
	@media screen and (max-width: 1050px) {
		width: 100%;
		font-size: 16px;
		margin-bottom: 30px;
	}
}
.mail {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(14px);
	font-family: Poppins, sans-serif;
	font-weight: 600;
	word-wrap: break-word;
	margin-bottom: size(30px);
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 30px;
	}
}
.socmedia {
	display: flex;
	align-items: center;
	gap: size(7.27px);
	@media screen and (max-width: 1050px) {
		gap: 8px;
	}
	.soc__item {
		width: size(35.76px);
		height: size(35.18px);
		@media screen and (max-width: 1050px) {
			width: 35.76px;
			height: 35.18px;
		}
	}
}

.not-mobile {
	@media screen and (max-width: 1050px) {
		display: none !important;
	}
}
.not-desktop {
	@media screen and (min-width: 1050px) {
		display: none !important;
	}
}
//burger menu
.menu-btn {
	position: relative;
	cursor: pointer;
	&.active {
		.menu-btn__burger {
			width: 0;
			height: 0;
		}
		.menu-btn__close {
			width: 41px;
			height: 41px;
		}
	}
	@media screen and (min-width: 1050px) {
		display: none;
	}
	.menu-btn__replacer,
	.menu-btn__burger {
		width: 37px;
		height: 25.74px;
	}
	.menu-btn__burger,
	.menu-btn__close {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
	}
	.menu-btn__close {
		width: 0;
		height: 0;
	}
}

//!main page
.main-block {
	position: relative;
	width: 100vw;
	height: 100vh;
	@include flex-end();
	overflow: hidden;
	@media screen and (max-width: 1050px) {
		align-items: flex-start;
	}
	.main-block-bg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
	.offer {
		@include main-container();
		@include flex-start();
		padding-right: 0;
	}
	.offer__content {
		width: size(695px);
		@include flex-col-start();
		padding-top: size(190px);
		@media screen and (max-width: 1050px) {
			width: 100%;
			padding-top: 269px;
			padding-bottom: 123px;
		}
	}
	.span-text {
		color: rgba(255, 255, 255, 0.7);
		margin-bottom: size(18px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 21px;
		}
	}
	.main-block__img {
		width: size(715px);
		height: size(696px);
		@media screen and (max-width: 1050px) {
			display: none;
		}
	}
	.main-title {
		color: white;
		margin-bottom: size(44px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 40px;
		}
	}
	.sub {
		position: relative;
		color: rgba(255, 255, 255, 0.8);
		font-size: size(17px);
		font-weight: 400;
		line-height: 152.3%;
		word-wrap: break-word;
		padding-left: size(27px);
		margin-bottom: size(56px);
		@media screen and (max-width: 1050px) {
			font-size: 17px;
			padding-left: 19px;
			margin-bottom: 89px;
		}
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			width: 0;
			height: 100%;
			border: 1px rgba(255, 255, 255, 0.7) solid;
		}
	}
	.offer__btns {
		@include flex-center();
		justify-content: flex-start;
		gap: size(18px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 32px;
		}
	}
	.about__btn {
		@include flex-center();
		gap: size(10px);
		@include btn(20px, 55.5px, transparent, #fff);
		border: 1px solid #fff;
	}
}
.line {
	width: 100%;
	height: 0;
	border: 1px rgba(13.1, 55.74, 92.44, 0.5) solid;
}
.numbers {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(size(190px), 1fr));
	gap: size(66px);
	padding-top: size(45px);
	padding-bottom: size(78px);
	@media screen and (max-width: 1025px) {
		gap: 37px;
		padding-top: 50px;
		padding-bottom: 66px;
	}
	.numbers__item {
		width: 190px;
		@include flex-col-start();
		gap: size(10px);
		@media screen and (max-width: 1025px) {
			gap: 10px;
		}
	}
	.numbers__sub {
		width: 100%;
		color: rgba(255, 255, 255, 0.8);
		font-size: size(15px);
		font-weight: 500;
		line-height: 100%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
		}
	}
}
.span-number {
	color: #32568b;
	font-size: size(40px);
	font-weight: 300;
	line-height: 130%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 30px;
	}
}
//Category
.category {
	position: relative;
	@include main-container();
	@include flex-col-start();
	padding-top: size(123px);
	padding-bottom: size(127px);
	@media screen and (max-width: 1050px) {
		padding: 0;
		padding-top: 89px;
		padding-bottom: 73px;
	}
	.line {
		position: absolute;
		top: size(28px);
		left: 0;
		@media screen and (max-width: 1050px) {
			top: 25px;
		}
		&:last-child {
			top: auto;
			bottom: size(28px);
			@media screen and (max-width: 1050px) {
				bottom: 25px;
			}
		}
	}
	.category-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 70%;
		object-fit: cover;
		opacity: 0.1;
		z-index: -1;
	}
	.flex-end {
		width: 100%;
		margin-bottom: size(64px);
		@media screen and (max-width: 1050px) {
			@include main-container();
			@include flex-col-start();
			flex-direction: column-reverse;
			gap: 37px;
			margin-bottom: 58px;
		}
	}
	.flex-col-start {
		width: size(625px);
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
	}
	.span-text {
		color: rgba(13.1, 55.74, 92.44, 0.5);
	}
}
.category__cards {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(size(415px), 1fr));
	gap: size(22px);
	margin-bottom: size(57px);
	@media screen and (max-width: 1050px) {
		grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
		gap: 10px;
		margin-bottom: 52px;
	}
	@media screen and (max-width: 450px) {
		grid-template-columns: repeat(1, 1fr);
	}

	.category__card {
		position: relative;
		width: 100%;
		@include flex-col-start();
		gap: size(133px);
		padding: size(25px);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e304e 100%);
		@media screen and (max-width: 1050px) {
			gap: 73px;
			padding: 25px;
		}
	}
	.category__card__img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.category__card__top {
		width: 100%;
		@include flex-center();
		gap: 10px;
	}
	.category__card__btn {
		background: white;
		justify-content: center;
		align-items: center;
		display: inline-flex;
		color: rgba(0, 0, 0, 0.5);
		font-size: size(13px);
		font-weight: 500;
		line-height: 130%;
		word-wrap: break-word;
		padding: size(11px) size(23px);
		@media screen and (max-width: 1050px) {
			font-size: 13px;
			padding: 11px 23.5px;
		}
	}
	.category__card__icon {
		width: size(15.96px);
		height: size(31.7px);
		@media screen and (max-width: 1050px) {
			width: 15.96px;
			height: 31.7px;
		}
	}
	.category__card__sub {
		width: 100%;
		color: white;
		font-size: size(18px);
		font-weight: 500;
		line-height: 130%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 18px;
		}
	}
}
.category__sub {
	color: rgba(0, 0, 0, 0.5);
	font-size: size(14px);
	font-weight: 400;
	line-height: 150%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		@include main-container();
		font-size: 14px;
	}
}

//Hope
.hope {
	position: relative;
	@include main-container();
	@include flex-end();
	padding-top: size(115px);
	padding-bottom: size(109px);
	@media screen and (max-width: 1050px) {
		@include flex-col-start();
		gap: 64px;
		padding-top: 138px;
		padding-bottom: 65px;
	}
	.hope-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.hope__content {
		width: size(635px);
		@include flex-col-start();
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
		.span-text {
			width: 100%;
			color: rgba(255, 255, 255, 0.5);
		}
		.block-title {
			width: 100%;
			@include flex-center();
			gap: 15px;
			color: #fff;
		}
		.flex-end {
			width: 100%;
			margin-bottom: size(47px);
			@media screen and (max-width: 1050px) {
				@include flex-col-start();
				gap: 46px;
				flex-direction: column-reverse;
				margin-bottom: 32px;
			}
		}
	}

	.hope__sub {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(18px);
		font-weight: 400;
		line-height: 150%;
		word-wrap: break-word;
		margin-bottom: size(72px);
		@media screen and (max-width: 1050px) {
			font-size: 18px;
			margin-bottom: 46px;
		}
	}
	.sub {
		color: white;
		margin-bottom: size(80px);
	}
	.flex-center {
		gap: size(13px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 20px;
		}
	}
	.about__btn {
		@include btn(22.5px, 51.5px, #fff, #0d2e4a);
	}
	.partners__btn {
		@include btn(22.5px, 51.5px, transparent, #fff);
		border: 1px solid #fff;
	}
	.hope__numbers {
		width: size(529px);
		@include flex-col-start();
		border-radius: 10px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b254d 100%);
		backdrop-filter: blur(50px);
		overflow: hidden;
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
	}
	.hope__numbers__title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-size: size(16px);
		font-weight: 500;
		line-height: 100%;
		word-wrap: break-word;
		padding: size(37px) size(55px);
		padding-bottom: size(33px);
		border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
		@media screen and (max-width: 1050px) {
			padding: 36px 30px;
			padding-bottom: 50px;
			border: none;
			padding-bottom: 0;
		}
		&::after {
			content: "";
			width: size(35px);
			height: size(35px);
			background: rgba(255, 255, 255, 0.3);
			border-radius: 9999px;
			@media screen and (max-width: 1050px) {
				width: 35px;
				height: 35px;
			}
		}
	}
	.numbers {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: size(66px);
		padding: size(55px) size(45px);
		@media screen and (max-width: 1050px) {
			padding: 66px 30px;
			padding-top: 0;
		}
	}
	.numbers__item {
		@include flex-col-start();
	}

	.numers__sub {
		color: rgba(255, 255, 255, 0.8);
		font-size: size(14px);
		font-weight: 500;
		line-height: 100%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
		}
	}
}

.tech {
	position: relative;
	@include main-container();
	@include flex-col-start();
	padding-top: size(135px);
	padding-bottom: size(104px);
	.line {
		position: absolute;
		top: size(24px);
		left: 0;
		&:last-child {
			top: auto;
			bottom: size(24px);
		}
	}
	.flex-end {
		width: 100%;
		gap: size(74px);
		margin-bottom: size(76px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 49px;
			margin-bottom: 57px;
		}
	}
	.span-text {
		width: 100%;
		color: rgba(13.1, 55.74, 92.44, 0.5);
		@media screen and (max-width: 1050px) {
			margin-top: 37px;
		}
	}
	.block-title {
		width: 100%;
		margin-bottom: size(54px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 27px;
		}
	}
	.tech__img {
		width: max-content;
		max-width: size(111px);
		max-height: size(60px);
		margin-bottom: size(53px);
		@media screen and (max-width: 1050px) {
			max-width: 78px;
			max-height: 42px;
			margin-bottom: 27px;
		}
	}
	.tech__label {
		color: rgba(13.02, 46, 74.37, 0.8);
		font-size: size(16px);
		font-weight: 500;
		line-height: 150%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 16px;
		}
	}
	.flex-center {
		width: 100%;
		margin-bottom: size(46px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			margin-bottom: 30px;
		}
	}
	.tech__sub {
		width: 100%;
		color: rgba(0, 0, 0, 0.8);
		font-size: size(15px);
		font-weight: 400;
		line-height: 150%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 15px;
		}
	}
	.tech-gallery {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: size(22px);
		@media screen and (max-width: 1050px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}
	}
	.tech-gallery__img {
		width: 100%;
		height: size(261px);
		border-radius: 5px;
		@media screen and (max-width: 1050px) {
			height: 200px;
		}
	}
}

//Partners
.partners {
	position: relative;
	@include main-container();
	@include flex-start();
	gap: 10px;
	padding-top: size(95px);
	@media screen and (max-width: 1050px) {
		@include flex-col-start();
		flex-direction: column-reverse;
		gap: 63px;
		padding-top: 105px;
	}
	.partners-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.partners-arrow {
		width: size(631px);
		height: size(431px);
		object-position: top;
		@media screen and (max-width: 1050px) {
			width: 100%;
			height: 266px;
		}
	}
	.partners__container {
		width: size(526px);
		@include flex-col-start();
		padding-top: size(44px);
		@media screen and (max-width: 1050px) {
			width: 100%;
			padding-top: 0;
		}
	}
	.block-title {
		color: white;
		margin-bottom: size(40px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 37px;
		}
	}
	.sub {
		color: white;
		margin-bottom: size(45px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 45px;
		}
	}
	.request__btn {
		@include btn(22.5px, 51.5px, transparent, #fff);
		border: 1px solid #fff;
	}
}

//News
.news {
	position: relative;
	@include main-container();
	@include flex-col-start();
	padding-top: size(115px);
	padding-bottom: size(113px);
	@media screen and (max-width: 1050px) {
		padding-top: 94px;
		padding-bottom: 106px;
	}
	.news-bg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		opacity: 5%;
		z-index: -1;
	}
	.line {
		position: absolute;
		top: size(24px);
		left: 0;
		@media screen and (max-width: 1050px) {
			top: 25px;
		}
		&:last-child {
			bottom: size(24px);
			@media screen and (max-width: 1050px) {
				bottom: 25px;
			}
		}
	}
	.span-text {
		color: rgba(13.1, 55.74, 92.44, 0.5);
	}
	.flex-center {
		width: 100%;
		margin-bottom: size(58px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 41px;
			margin-bottom: 53px;
		}
	}
	.block-title {
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
	}

	.all__news {
		@include flex-center();
		color: #063257;
		font-size: size(16px);
		font-weight: 600;
		line-height: 120%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			margin-top: 41px;
			font-size: 16px;
		}
		&::after {
			content: " ";
			width: size(21px);
			height: size(10.19px);
			background: url(../assets/icons/arrow-right-think-blue.svg);
			background-repeat: no-repeat;
			object-fit: contain;
			@media screen and (max-width: 1050px) {
				width: 21px;
				height: 10.19px;
			}
		}
	}
	.news__cards {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(size(311px), 1fr));
		gap: size(15px);
		@media screen and (max-width: 1050px) {
			grid-template-columns: repeat(auto-fill, minmax(390px), 1fr);
			gap: 40px;
		}
		@media screen and (max-width: 500px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.news__card {
		@include flex-col-start();
		gap: size(20px);
		@media screen and (max-width: 500px) {
			gap: 20px;
		}
	}
	.news-img {
		width: 100%;
		max-height: max-content;
		height: size(191px);
		border-radius: 5px;
		@media screen and (max-width: 1050px) {
			height: 191px;
		}
	}
	.news__title {
		width: 100%;
		color: #484848;
		font-size: size(16px);
		font-weight: 500;
		line-height: 120%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 16px;
		}
	}
	.news__sub {
		width: 100%;
		color: rgba(0, 0, 0, 0.55);
		font-size: size(13px);
		font-weight: 400;
		line-height: 150%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 13px;
		}
	}
	.news__date {
		color: #afafaf;
		font-size: size(13px);
		font-weight: 600;
		line-height: 150%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 13px;
		}
	}
}

//!footer
footer {
	position: relative;
	@include main-container();
	@include flex-col-start();
	padding-top: size(103px);
	padding-bottom: size(62px);
	background-color: #051021;
	.footer-img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		opacity: 0.06;
		z-index: 0;
	}
	.footer__content {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: size(105px);
		margin-bottom: size(138px);
		@media screen and (max-width: 1050px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 74px;
			margin-bottom: 38px;
		}
	}
	.footer__title {
		color: rgba(255, 255, 255, 0.9);
		font-size: size(18px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		margin-bottom: size(36px);
		@media screen and (max-width: 1050px) {
			font-size: 18px;
			margin-bottom: 36px;
		}
	}
	.footer__nav {
		@include flex-col-start();
		gap: size(12px);
		@media screen and (max-width: 1050px) {
			gap: 12px;
		}
	}
	.footer__nav__item {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
		}
	}
	.phone {
		@include flex-col-start();
		@media screen and (max-width: 1050px) {
			margin-bottom: 30px;
		}
		.phone__sub {
			text-decoration: none;
		}
		.phone__link {
			color: white;
			font-weight: 400;
		}
	}
	.logo__container {
		margin-left: 0;
	}
	.footer__bottom {
		position: relative;
		width: 100%;
		@include flex-center();
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 22px;
		}
	}
	.icorp {
		@include flex-center();
		justify-content: flex-start;
		gap: size(4px);
		color: rgba(255, 255, 255, 0.5);
		font-size: size(16px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		line-height: 152%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			gap: 4px;
			font-size: 16px;
		}
		img {
			width: size(7.78px);
			height: size(14.76px);
			@media screen and (max-width: 1050px) {
				width: 7.78px;
				height: 14.76px;
			}
		}
	}
	.copy {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			font-size: 14px;
		}
	}
}

.breakets {
	@include main-container();
	@include flex-center();
	justify-content: flex-start;
	gap: size(17px);
	flex-wrap: wrap;
	&.without-img {
		margin-top: size(152px);
		@media screen and (max-width: 1050px) {
			margin-top: 137px;
		}
	}
	@media screen and (max-width: 1050px) {
		gap: 17px;
	}
}

.mobile-container {
	@media screen and (max-width: 1050px) {
		@include main-container();
	}
}

.btns {
	@include flex-center();
	gap: size(15px);
}
.certificate__btn,
.recommendation__btn,
.news__slider__btn {
	width: size(37px);
	height: size(37px);
	cursor: pointer;
	@media screen and (max-width: 1050px) {
		width: 48.22px;
		height: 48.22px;
	}
}
