@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
  overflow-x: hidden;
}
body.overflow-hidden {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-col-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-stretch {
  display: flex;
  align-items: stretch;
}

.span-text {
  color: rgba(13, 56, 92, 0.5);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-weight: 400;
  line-height: 100%;
  word-wrap: break-word;
  margin-bottom: calc(0.7083333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .span-text {
    font-size: 14px;
    margin-bottom: 17px;
  }
}

.main-title {
  color: white;
  font-size: calc(1.6666666667 * (1vw + 1vh));
  font-weight: 400;
  line-height: 110%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .main-title {
    font-size: 28px;
  }
}

.block-title {
  color: #292929;
  font-size: calc(1.1666666667 * (1vw + 1vh));
  font-weight: 400;
  line-height: 110%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .block-title {
    font-size: 23px;
  }
}
.block-title span {
  color: #065ca6;
}

.sub {
  color: rgb(255, 255, 255);
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 300;
  line-height: 160%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .sub {
    font-size: 16px;
  }
}

.btn-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(0.9375 * (1vw + 1vh)) calc(2.3125 * (1vw + 1vh));
  background: linear-gradient(270deg, #32568b 0%, #0d385c 100%);
  border-radius: 5px;
  color: #fff;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1050px) {
  .btn-bg {
    font-size: 16px;
    padding: 22.5px 55.5px;
  }
}
.btn-bg::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translateY(-50%);
  width: 40%;
  height: 110%;
  background-color: #fff;
  border-radius: 7px;
  z-index: -1;
}

.num,
.num__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  color: #fff;
  font-size: calc(3.3333333333 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
}
.num::after,
.num__container::after {
  content: var(--after-content);
}
@media screen and (max-width: 1050px) {
  .num,
  .num__container {
    font-size: 50px;
  }
}

header {
  width: 100vw;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(0.5833333333 * (1vw + 1vh));
  padding-bottom: calc(0.2916666667 * (1vw + 1vh));
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
  transition: all 0.5s;
}
@media screen and (max-width: 1050px) {
  header {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1365px) {
  header {
    gap: 10px;
  }
}
@media screen and (max-width: 1050px) {
  header {
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: white;
  }
}

.logo__container {
  position: relative;
  margin-left: calc(2.0833333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .logo__container {
    margin-left: 0;
  }
}
.logo__container::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(8.7083333333 * (1vw + 1vh));
  height: calc(4.75 * (1vw + 1vh));
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}
.logo__container img {
  min-width: -moz-max-content;
  min-width: max-content;
  width: calc(4.625 * (1vw + 1vh));
  height: calc(2.5 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .logo__container img {
    width: 98px;
    height: 52px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: calc(1.875 * (1vw + 1vh));
}
@media screen and (max-width: 1365px) {
  .navbar {
    gap: calc(0.8333333333 * (1vw + 1vh));
  }
}
.navbar > * {
  white-space: nowrap;
}
@media screen and (max-width: 1050px) {
  .navbar {
    display: none;
  }
}

.nav__item {
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(0.75 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  transition: all 0.5s;
}
@media screen and (max-width: 1050px) {
  .nav__item {
    color: #0e304e;
    font-size: 25px;
    font-weight: 400;
    line-height: 130%;
    word-wrap: break-word;
  }
  .nav__item::after {
    filter: invert(17%) sepia(56%) saturate(2927%) hue-rotate(188deg) brightness(0) contrast(94%);
  }
}
.nav__item.active {
  color: #0d385c;
}
.nav__item.active::after {
  filter: invert(17%) sepia(56%) saturate(2927%) hue-rotate(188deg) brightness(0) contrast(94%);
}

.submenu {
  position: relative;
}
@media screen and (max-width: 1050px) {
  .submenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.submenu.active {
  gap: 21px;
}
.submenu.active .submenu__container {
  height: -moz-max-content;
  height: max-content;
  padding-top: calc(1.3333333333 * (1vw + 1vh));
  padding-bottom: calc(1.3333333333 * (1vw + 1vh));
  opacity: 1;
  overflow: visible;
}
@media screen and (max-width: 1050px) {
  .submenu.active .submenu__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.submenu.active .nav__item::after {
  transform: rotate(-180deg);
}
.submenu .nav__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  gap: calc(0.4166666667 * (1vw + 1vh));
  transition: all 0.5s;
}
@media screen and (max-width: 1050px) {
  .submenu .nav__item {
    gap: 8px;
  }
}
.submenu .nav__item::after {
  content: " ";
  width: calc(0.25 * (1vw + 1vh));
  height: calc(0.1666666667 * (1vw + 1vh));
  background: url(../assets/icons/triangel-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1050px) {
  .submenu .nav__item::after {
    width: 6px;
    height: 4px;
  }
}
.submenu .submenu__container {
  position: absolute;
  left: 0;
  top: 200%;
  width: calc(13.6666666667 * (1vw + 1vh));
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(0.875 * (1vw + 1vh));
  background: rgba(8, 42, 72, 0.15);
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 0 calc(1.25 * (1vw + 1vh));
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}
@media screen and (max-width: 1050px) {
  .submenu .submenu__container {
    position: static;
    max-width: 95%;
    width: 328px;
    gap: 21px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 30px;
  }
}
.submenu .submenu__container .submenu__nav__item {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 130%;
  word-wrap: break-word;
  white-space: wrap;
}
@media screen and (max-width: 1050px) {
  .submenu .submenu__container .submenu__nav__item {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    word-wrap: break-word;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(0.25 * (1vw + 1vh));
}

.phone__link {
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(0.75 * (1vw + 1vh));
  font-weight: 700;
  line-height: 100%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .phone__link {
    font-size: 18px;
  }
}

.phone__sub {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-weight: 400;
  text-decoration: underline;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
}
@media screen and (max-width: 1050px) {
  .phone__sub {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.request__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(0.8958333333 * (1vw + 1vh)) calc(2.2083333333 * (1vw + 1vh));
  background: linear-gradient(270deg, #32568b 0%, #0d385c 100%);
  border-radius: 5px;
  color: #fff;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1050px) {
  .request__btn {
    font-size: 16px;
    padding: 21.5px 53px;
  }
}
@media screen and (max-width: 1365px) {
  .request__btn {
    padding-left: calc(0.8333333333 * (1vw + 1vh));
    padding-right: calc(0.8333333333 * (1vw + 1vh));
  }
}
@media screen and (max-width: 1050px) {
  .request__btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  inset: 0;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  width: 100vw;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f1f1f1;
  overflow-y: auto;
  z-index: 8;
  transition: all 0.5s;
}
@media screen and (max-width: 1050px) {
  .mobile-menu {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1050px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 70px;
}

.mobile-menu__navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
@media screen and (max-width: 1050px) {
  .mobile-menu__navbar {
    width: 100%;
  }
}
.mobile-menu__navbar .navbar__item {
  color: #0e304e;
  font-size: 25px;
  font-weight: 400;
  line-height: 130%;
  word-wrap: break-word;
}

.address {
  width: calc(12.1666666667 * (1vw + 1vh));
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 152.3%;
  word-wrap: break-word;
  margin-bottom: calc(1.25 * (1vw + 1vh));
}
.address span {
  font-size: calc(0.5 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .address span {
    font-size: 12px;
  }
}
@media screen and (max-width: 1050px) {
  .address {
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.mail {
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-family: Poppins, sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: calc(1.25 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .mail {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.socmedia {
  display: flex;
  align-items: center;
  gap: calc(0.3029166667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .socmedia {
    gap: 8px;
  }
}
.socmedia .soc__item {
  width: calc(1.49 * (1vw + 1vh));
  height: calc(1.4658333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .socmedia .soc__item {
    width: 35.76px;
    height: 35.18px;
  }
}

@media screen and (max-width: 1050px) {
  .not-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1050px) {
  .not-desktop {
    display: none !important;
  }
}

.menu-btn {
  position: relative;
  cursor: pointer;
}
.menu-btn.active .menu-btn__burger {
  width: 0;
  height: 0;
}
.menu-btn.active .menu-btn__close {
  width: 41px;
  height: 41px;
}
@media screen and (min-width: 1050px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn .menu-btn__replacer,
.menu-btn .menu-btn__burger {
  width: 37px;
  height: 25.74px;
}
.menu-btn .menu-btn__burger,
.menu-btn .menu-btn__close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.menu-btn .menu-btn__close {
  width: 0;
  height: 0;
}

.main-block {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (max-width: 1050px) {
  .main-block {
    align-items: flex-start;
  }
}
.main-block .main-block-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.main-block .offer {
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 0;
}
@media screen and (max-width: 1050px) {
  .main-block .offer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main-block .offer__content {
  width: calc(28.9583333333 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(7.9166666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .main-block .offer__content {
    width: 100%;
    padding-top: 269px;
    padding-bottom: 123px;
  }
}
.main-block .span-text {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: calc(0.75 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .main-block .span-text {
    margin-bottom: 21px;
  }
}
.main-block .main-block__img {
  width: calc(29.7916666667 * (1vw + 1vh));
  height: calc(29 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .main-block .main-block__img {
    display: none;
  }
}
.main-block .main-title {
  color: white;
  margin-bottom: calc(1.8333333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .main-block .main-title {
    margin-bottom: 40px;
  }
}
.main-block .sub {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(0.7083333333 * (1vw + 1vh));
  font-weight: 400;
  line-height: 152.3%;
  word-wrap: break-word;
  padding-left: calc(1.125 * (1vw + 1vh));
  margin-bottom: calc(2.3333333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .main-block .sub {
    font-size: 17px;
    padding-left: 19px;
    margin-bottom: 89px;
  }
}
.main-block .sub::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border: 1px rgba(255, 255, 255, 0.7) solid;
}
.main-block .offer__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  gap: calc(0.75 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .main-block .offer__btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
.main-block .about__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0.4166666667 * (1vw + 1vh));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(0.8333333333 * (1vw + 1vh)) calc(2.3125 * (1vw + 1vh));
  background: transparent;
  border-radius: 5px;
  color: #fff;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}
@media screen and (max-width: 1050px) {
  .main-block .about__btn {
    font-size: 16px;
    padding: 20px 55.5px;
  }
}

.line {
  width: 100%;
  height: 0;
  border: 1px rgba(13, 56, 92, 0.5) solid;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(7.9166666667 * (1vw + 1vh)), 1fr));
  gap: calc(2.75 * (1vw + 1vh));
  padding-top: calc(1.875 * (1vw + 1vh));
  padding-bottom: calc(3.25 * (1vw + 1vh));
}
@media screen and (max-width: 1025px) {
  .numbers {
    gap: 37px;
    padding-top: 50px;
    padding-bottom: 66px;
  }
}
.numbers .numbers__item {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(0.4166666667 * (1vw + 1vh));
}
@media screen and (max-width: 1025px) {
  .numbers .numbers__item {
    gap: 10px;
  }
}
.numbers .numbers__sub {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(0.625 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .numbers .numbers__sub {
    font-size: 14px;
  }
}

.span-number {
  color: #32568b;
  font-size: calc(1.6666666667 * (1vw + 1vh));
  font-weight: 300;
  line-height: 130%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .span-number {
    font-size: 30px;
  }
}

.category {
  position: relative;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(5.125 * (1vw + 1vh));
  padding-bottom: calc(5.2916666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .category {
    padding: 0;
    padding-top: 89px;
    padding-bottom: 73px;
  }
}
.category .line {
  position: absolute;
  top: calc(1.1666666667 * (1vw + 1vh));
  left: 0;
}
@media screen and (max-width: 1050px) {
  .category .line {
    top: 25px;
  }
}
.category .line:last-child {
  top: auto;
  bottom: calc(1.1666666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category .line:last-child {
    bottom: 25px;
  }
}
.category .category-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}
.category .flex-end {
  width: 100%;
  margin-bottom: calc(2.6666666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category .flex-end {
    width: 100%;
    padding-right: calc(5 * (1vw + 1vh));
    padding-left: calc(5 * (1vw + 1vh));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 37px;
    margin-bottom: 58px;
  }
}
@media screen and (max-width: 1050px) and (max-width: 1050px) {
  .category .flex-end {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.category .flex-col-start {
  width: calc(26.0416666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category .flex-col-start {
    width: 100%;
  }
}
.category .span-text {
  color: rgba(13, 56, 92, 0.5);
}

.category__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(17.2916666667 * (1vw + 1vh)), 1fr));
  gap: calc(0.9166666667 * (1vw + 1vh));
  margin-bottom: calc(2.375 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category__cards {
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    gap: 10px;
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 450px) {
  .category__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.category__cards .category__card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(5.5416666667 * (1vw + 1vh));
  padding: calc(1.0416666667 * (1vw + 1vh));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e304e 100%);
}
@media screen and (max-width: 1050px) {
  .category__cards .category__card {
    gap: 73px;
    padding: 25px;
  }
}
.category__cards .category__card__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.category__cards .category__card__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.category__cards .category__card__btn {
  background: white;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(0.5416666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 130%;
  word-wrap: break-word;
  padding: calc(0.4583333333 * (1vw + 1vh)) calc(0.9583333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category__cards .category__card__btn {
    font-size: 13px;
    padding: 11px 23.5px;
  }
}
.category__cards .category__card__icon {
  width: calc(0.665 * (1vw + 1vh));
  height: calc(1.3208333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .category__cards .category__card__icon {
    width: 15.96px;
    height: 31.7px;
  }
}
.category__cards .category__card__sub {
  width: 100%;
  color: white;
  font-size: calc(0.75 * (1vw + 1vh));
  font-weight: 500;
  line-height: 130%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .category__cards .category__card__sub {
    font-size: 18px;
  }
}

.category__sub {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-weight: 400;
  line-height: 150%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .category__sub {
    width: 100%;
    padding-right: calc(5 * (1vw + 1vh));
    padding-left: calc(5 * (1vw + 1vh));
    font-size: 14px;
  }
}
@media screen and (max-width: 1050px) and (max-width: 1050px) {
  .category__sub {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hope {
  position: relative;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: calc(4.7916666667 * (1vw + 1vh));
  padding-bottom: calc(4.5416666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .hope {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .hope {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    padding-top: 138px;
    padding-bottom: 65px;
  }
}
.hope .hope-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hope .hope__content {
  width: calc(26.4583333333 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1050px) {
  .hope .hope__content {
    width: 100%;
  }
}
.hope .hope__content .span-text {
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}
.hope .hope__content .block-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
}
.hope .hope__content .flex-end {
  width: 100%;
  margin-bottom: calc(1.9583333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .hope .hope__content .flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
    flex-direction: column-reverse;
    margin-bottom: 32px;
  }
}
.hope .hope__sub {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(0.75 * (1vw + 1vh));
  font-weight: 400;
  line-height: 150%;
  word-wrap: break-word;
  margin-bottom: calc(3 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .hope .hope__sub {
    font-size: 18px;
    margin-bottom: 46px;
  }
}
.hope .sub {
  color: white;
  margin-bottom: calc(3.3333333333 * (1vw + 1vh));
}
.hope .flex-center {
  gap: calc(0.5416666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .hope .flex-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.hope .about__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(0.9375 * (1vw + 1vh)) calc(2.1458333333 * (1vw + 1vh));
  background: #fff;
  border-radius: 5px;
  color: #0d2e4a;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1050px) {
  .hope .about__btn {
    font-size: 16px;
    padding: 22.5px 51.5px;
  }
}
.hope .partners__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(0.9375 * (1vw + 1vh)) calc(2.1458333333 * (1vw + 1vh));
  background: transparent;
  border-radius: 5px;
  color: #fff;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}
@media screen and (max-width: 1050px) {
  .hope .partners__btn {
    font-size: 16px;
    padding: 22.5px 51.5px;
  }
}
.hope .hope__numbers {
  width: calc(22.0416666667 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0b254d 100%);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  overflow: hidden;
}
@media screen and (max-width: 1050px) {
  .hope .hope__numbers {
    width: 100%;
  }
}
.hope .hope__numbers__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  padding: calc(1.5416666667 * (1vw + 1vh)) calc(2.2916666667 * (1vw + 1vh));
  padding-bottom: calc(1.375 * (1vw + 1vh));
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
@media screen and (max-width: 1050px) {
  .hope .hope__numbers__title {
    padding: 36px 30px;
    padding-bottom: 50px;
    border: none;
    padding-bottom: 0;
  }
}
.hope .hope__numbers__title::after {
  content: "";
  width: calc(1.4583333333 * (1vw + 1vh));
  height: calc(1.4583333333 * (1vw + 1vh));
  background: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}
@media screen and (max-width: 1050px) {
  .hope .hope__numbers__title::after {
    width: 35px;
    height: 35px;
  }
}
.hope .numbers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: calc(2.75 * (1vw + 1vh));
       column-gap: calc(2.75 * (1vw + 1vh));
  padding: calc(2.2916666667 * (1vw + 1vh)) calc(1.875 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .hope .numbers {
    padding: 66px 30px;
    padding-top: 0;
  }
}
.hope .numbers__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hope .numers__sub {
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .hope .numers__sub {
    font-size: 14px;
  }
}

.tech {
  position: relative;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(5.625 * (1vw + 1vh));
  padding-bottom: calc(4.3333333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .tech {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.tech .line {
  position: absolute;
  top: calc(1 * (1vw + 1vh));
  left: 0;
}
.tech .line:last-child {
  top: auto;
  bottom: calc(1 * (1vw + 1vh));
}
.tech .flex-end {
  width: 100%;
  gap: calc(3.0833333333 * (1vw + 1vh));
  margin-bottom: calc(3.1666666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .tech .flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 49px;
    margin-bottom: 57px;
  }
}
.tech .span-text {
  width: 100%;
  color: rgba(13, 56, 92, 0.5);
}
@media screen and (max-width: 1050px) {
  .tech .span-text {
    margin-top: 37px;
  }
}
.tech .block-title {
  width: 100%;
  margin-bottom: calc(2.25 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .tech .block-title {
    margin-bottom: 27px;
  }
}
.tech .tech__img {
  width: -moz-max-content;
  width: max-content;
  max-width: calc(4.625 * (1vw + 1vh));
  max-height: calc(2.5 * (1vw + 1vh));
  margin-bottom: calc(2.2083333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .tech .tech__img {
    max-width: 78px;
    max-height: 42px;
    margin-bottom: 27px;
  }
}
.tech .tech__label {
  color: rgba(13, 46, 74, 0.8);
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 150%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .tech .tech__label {
    font-size: 16px;
  }
}
.tech .flex-center {
  width: 100%;
  margin-bottom: calc(1.9166666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .tech .flex-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}
.tech .tech__sub {
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  font-size: calc(0.625 * (1vw + 1vh));
  font-weight: 400;
  line-height: 150%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .tech .tech__sub {
    font-size: 15px;
  }
}
.tech .tech-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(0.9166666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .tech .tech-gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.tech .tech-gallery__img {
  width: 100%;
  height: calc(10.875 * (1vw + 1vh));
  border-radius: 5px;
}
@media screen and (max-width: 1050px) {
  .tech .tech-gallery__img {
    height: 200px;
  }
}

.partners {
  position: relative;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding-top: calc(3.9583333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .partners {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .partners {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 63px;
    padding-top: 105px;
  }
}
.partners .partners-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.partners .partners-arrow {
  width: calc(26.2916666667 * (1vw + 1vh));
  height: calc(17.9583333333 * (1vw + 1vh));
  -o-object-position: top;
     object-position: top;
}
@media screen and (max-width: 1050px) {
  .partners .partners-arrow {
    width: 100%;
    height: 266px;
  }
}
.partners .partners__container {
  width: calc(21.9166666667 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(1.8333333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .partners .partners__container {
    width: 100%;
    padding-top: 0;
  }
}
.partners .block-title {
  color: white;
  margin-bottom: calc(1.6666666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .partners .block-title {
    margin-bottom: 37px;
  }
}
.partners .sub {
  color: white;
  margin-bottom: calc(1.875 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .partners .sub {
    margin-bottom: 45px;
  }
}
.partners .request__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(0.9375 * (1vw + 1vh)) calc(2.1458333333 * (1vw + 1vh));
  background: transparent;
  border-radius: 5px;
  color: #fff;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 100%;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}
@media screen and (max-width: 1050px) {
  .partners .request__btn {
    font-size: 16px;
    padding: 22.5px 51.5px;
  }
}

.news {
  position: relative;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(4.7916666667 * (1vw + 1vh));
  padding-bottom: calc(4.7083333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .news {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .news {
    padding-top: 94px;
    padding-bottom: 106px;
  }
}
.news .news-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 5%;
  z-index: -1;
}
.news .line {
  position: absolute;
  top: calc(1 * (1vw + 1vh));
  left: 0;
}
@media screen and (max-width: 1050px) {
  .news .line {
    top: 25px;
  }
}
.news .line:last-child {
  bottom: calc(1 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .news .line:last-child {
    bottom: 25px;
  }
}
.news .span-text {
  color: rgba(13, 56, 92, 0.5);
}
.news .flex-center {
  width: 100%;
  margin-bottom: calc(2.4166666667 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .news .flex-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
    margin-bottom: 53px;
  }
}
@media screen and (max-width: 1050px) {
  .news .block-title {
    width: 100%;
  }
}
.news .all__news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #063257;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 600;
  line-height: 120%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .news .all__news {
    margin-top: 41px;
    font-size: 16px;
  }
}
.news .all__news::after {
  content: " ";
  width: calc(0.875 * (1vw + 1vh));
  height: calc(0.4245833333 * (1vw + 1vh));
  background: url(../assets/icons/arrow-right-think-blue.svg);
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1050px) {
  .news .all__news::after {
    width: 21px;
    height: 10.19px;
  }
}
.news .news__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(12.9583333333 * (1vw + 1vh)), 1fr));
  gap: calc(0.625 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .news .news__cards {
    grid-template-columns: repeat(auto-fill, minmax(390px), 1fr);
    gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  .news .news__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.news .news__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(0.8333333333 * (1vw + 1vh));
}
@media screen and (max-width: 500px) {
  .news .news__card {
    gap: 20px;
  }
}
.news .news-img {
  width: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
  height: calc(7.9583333333 * (1vw + 1vh));
  border-radius: 5px;
}
@media screen and (max-width: 1050px) {
  .news .news-img {
    height: 191px;
  }
}
.news .news__title {
  width: 100%;
  color: #484848;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-weight: 500;
  line-height: 120%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .news .news__title {
    font-size: 16px;
  }
}
.news .news__sub {
  width: 100%;
  color: rgba(0, 0, 0, 0.55);
  font-size: calc(0.5416666667 * (1vw + 1vh));
  font-weight: 400;
  line-height: 150%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .news .news__sub {
    font-size: 13px;
  }
}
.news .news__date {
  color: #afafaf;
  font-size: calc(0.5416666667 * (1vw + 1vh));
  font-weight: 600;
  line-height: 150%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .news .news__date {
    font-size: 13px;
  }
}

footer {
  position: relative;
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: calc(4.2916666667 * (1vw + 1vh));
  padding-bottom: calc(2.5833333333 * (1vw + 1vh));
  background-color: #051021;
}
@media screen and (max-width: 1050px) {
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
footer .footer-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.06;
  z-index: 0;
}
footer .footer__content {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(4.375 * (1vw + 1vh));
  margin-bottom: calc(5.75 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  footer .footer__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 74px;
    margin-bottom: 38px;
  }
}
footer .footer__title {
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(0.75 * (1vw + 1vh));
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 152.3%;
  word-wrap: break-word;
  margin-bottom: calc(1.5 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  footer .footer__title {
    font-size: 18px;
    margin-bottom: 36px;
  }
}
footer .footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(0.5 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  footer .footer__nav {
    gap: 12px;
  }
}
footer .footer__nav__item {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 152.3%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  footer .footer__nav__item {
    font-size: 14px;
  }
}
footer .phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1050px) {
  footer .phone {
    margin-bottom: 30px;
  }
}
footer .phone .phone__sub {
  text-decoration: none;
}
footer .phone .phone__link {
  color: white;
  font-weight: 400;
}
footer .logo__container {
  margin-left: 0;
}
footer .footer__bottom {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1050px) {
  footer .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
  }
}
footer .icorp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  gap: calc(0.1666666667 * (1vw + 1vh));
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 152%;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  footer .icorp {
    width: 100%;
    gap: 4px;
    font-size: 16px;
  }
}
footer .icorp img {
  width: calc(0.3241666667 * (1vw + 1vh));
  height: calc(0.615 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  footer .icorp img {
    width: 7.78px;
    height: 14.76px;
  }
}
footer .copy {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(0.5833333333 * (1vw + 1vh));
  font-family: Poppins, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  footer .copy {
    width: 100%;
    font-size: 14px;
  }
}

.breakets {
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  gap: calc(0.7083333333 * (1vw + 1vh));
  flex-wrap: wrap;
}
@media screen and (max-width: 1050px) {
  .breakets {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.breakets.without-img {
  margin-top: calc(6.3333333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .breakets.without-img {
    margin-top: 137px;
  }
}
@media screen and (max-width: 1050px) {
  .breakets {
    gap: 17px;
  }
}

@media screen and (max-width: 1050px) {
  .mobile-container {
    width: 100%;
    padding-right: calc(5 * (1vw + 1vh));
    padding-left: calc(5 * (1vw + 1vh));
  }
}
@media screen and (max-width: 1050px) and (max-width: 1050px) {
  .mobile-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0.625 * (1vw + 1vh));
}

.certificate__btn,
.recommendation__btn,
.news__slider__btn {
  width: calc(1.5416666667 * (1vw + 1vh));
  height: calc(1.5416666667 * (1vw + 1vh));
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .certificate__btn,
  .recommendation__btn,
  .news__slider__btn {
    width: 48.22px;
    height: 48.22px;
  }
}/*# sourceMappingURL=main.css.map */