@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}
//temaplates
$main-color: #0e304e;
$border-radius: 5px;

$index: calc(1vw + 1vh);
$conversion-factor: 24px;

@function size($px) {
	@return calc($px / $conversion-factor * $index);
}

@mixin main-container() {
	width: 100%;
	padding-right: size(120px);
	padding-left: size(120px);
	@media screen and (max-width: 1050px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin btn($py, $px, $fon, $color) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: size($py) size($px);
	background: $fon;
	border-radius: $border-radius;
	color: $color;
	font-size: size(16px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
		padding: $py $px;
	}
}

@mixin flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-stretch {
	display: flex;
	align-items: stretch;
}

@mixin flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-col-stretch {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@mixin flex-col-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

body {
	position: relative;
	width: 100%;
	@include flex-col-start();
	font-family: "Poppins", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
	&.overflow-hidden {
		overflow: hidden;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.flex-start {
	@include flex-start();
}

.flex-center {
	@include flex-center();
}
.flex-end {
	@include flex-end();
}

.flex-col-end {
	@include flex-col-end();
}

.flex-col-start {
	@include flex-col-start();
}

.flex-col-stretch {
	@include flex-col-stretch();
}

.flex-col-center {
	@include flex-col-center();
}

.flex-stretch {
	@include flex-stretch;
}

.span-text {
	color: rgba(13.1, 55.74, 92.44, 0.5);
	font-size: size(14px);
	font-weight: 400;
	line-height: 100%;
	word-wrap: break-word;
	margin-bottom: size(17px);
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 17px;
	}
}

.main-title {
	color: white;
	font-size: size(40px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 28px;
	}
}

.block-title {
	color: #292929;
	font-size: size(28px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 23px;
	}
	span {
		color: #065ca6;
	}
}

.sub {
	color: rgba(255, 255, 255);
	font-size: size(16px);
	font-weight: 300;
	line-height: 160%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
	}
}

.btn-bg {
	position: relative;
	@include btn(22.5px, 55.5px, linear-gradient(270deg, #32568b 0%, #0d385c 100%), #fff);
	&::before {
		content: " ";
		position: absolute;
		top: 50%;
		left: -1%;
		transform: translateY(-50%);
		width: 40%;
		height: 110%;
		background-color: #fff;
		border-radius: 7px;
		z-index: -1;
	}
}

.num,
.num__container {
	color: #fff;
	font-size: size(80px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 48px;
	}
}

// !Header
header {
	@include main-container();
	position: fixed;
	top: 0;
	background-color: transparent;
	@include flex-center();
	padding-top: size(14px);
	padding-bottom: size(7px);
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	z-index: 10;
	@media screen and (max-width: 1365px) {
		gap: 10px;
	}
	@media screen and (max-width: 1050px) {
		padding-top: 19px;
		padding-bottom: 19px;
		background-color: white;
	}
}
.logo__container {
	position: relative;
	margin-left: size(50px);
	@media screen and (max-width: 1050px) {
		margin-left: 0;
	}
	&::before {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: size(209px);
		height: size(114px);
		background-color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		z-index: -1;
	}
	img {
		min-width: max-content;
		width: size(111px);
		height: size(60px);
		@media screen and (max-width: 1050px) {
			width: 98px;
			height: 52px;
		}
	}
}
.navbar {
	display: flex;
	align-items: center;
	gap: size(45px);
	@media screen and (max-width: 1365px) {
		gap: size(20px);
	}
	& > * {
		white-space: nowrap;
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}
.nav__item {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(18px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
}

.phone {
	@include flex-col-end();
	gap: size(6px);
}
.phone__link {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(18px);
	font-weight: 700;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 18px;
	}
}
.phone__sub {
	color: rgba(255, 255, 255, 0.7);
	font-size: size(14px);
	font-weight: 400;
	text-decoration: underline;
	line-height: 100%;
	word-wrap: break-word;
	white-space: nowrap;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 5px;
	}
}
.request__btn {
	@include btn(21.5px, 53px, linear-gradient(270deg, #32568b 0%, #0d385c 100%), #fff);
	@media screen and (max-width: 1365px) {
		padding-left: size(20px);
		padding-right: size(20px);
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}

// Mobile menu
.mobile-menu {
	position: fixed;
	inset: 0;
	@include main-container();
	width: 100vw;
	height: 0;
	@include flex-col-start();
	background: #f1f1f1;
	overflow-y: auto;
	z-index: 8;
	transition: all 0.5s;
	@media screen and (min-width: 1050px) {
		display: none;
	}
	&.active {
		height: 100vh;
		padding-top: 150px;
		padding-bottom: 70px;
	}
}
.mobile-menu__navbar {
	@include flex-col-start();
	gap: 25px;
	.navbar__item {
		color: #0e304e;
		font-size: 25px;
		font-weight: 400;
		line-height: 130%;
		word-wrap: break-word;
	}
}
.address {
	width: size(292px);
	color: rgba(255, 255, 255, 0.7);
	font-size: size(14px);
	font-family: Poppins, sans-serif;
	font-weight: 400;
	line-height: 152.3%;
	word-wrap: break-word;
	margin-bottom: size(30px);
	span {
		font-size: size(12px);
		@media screen and (max-width: 1050px) {
			font-size: 12px;
		}
	}
	@media screen and (max-width: 1050px) {
		width: 100%;
		font-size: 16px;
		margin-bottom: 30px;
	}
}
.mail {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(14px);
	font-family: Poppins, sans-serif;
	font-weight: 600;
	word-wrap: break-word;
	margin-bottom: size(30px);
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 30px;
	}
}
.socmedia {
	display: flex;
	align-items: center;
	gap: size(7.27px);
	@media screen and (max-width: 1050px) {
		gap: 8px;
	}
	.soc__item {
		width: size(35.76px);
		height: size(35.18px);
		@media screen and (max-width: 1050px) {
			width: 35.76px;
			height: 35.18px;
		}
	}
}

.not-mobile {
	@media screen and (max-width: 1050px) {
		display: none !important;
	}
}
.not-desktop {
	@media screen and (min-width: 1050px) {
		display: none !important;
	}
}
//burger menu
.menu-btn {
	position: relative;
	cursor: pointer;
	&.active {
		.menu-btn__burger {
			width: 0;
			height: 0;
		}
		.menu-btn__close {
			width: 41px;
			height: 41px;
		}
	}
	@media screen and (min-width: 1050px) {
		display: none;
	}
	.menu-btn__replacer,
	.menu-btn__burger {
		width: 37px;
		height: 25.74px;
	}
	.menu-btn__burger,
	.menu-btn__close {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
	}
	.menu-btn__close {
		width: 0;
		height: 0;
	}
}

//!main page
.main-block {
	position: relative;
	width: 100vw;
	height: 100vh;
	@include flex-end();
	overflow: hidden;
	@media screen and (max-width: 1050px) {
		align-items: flex-start;
	}
	.main-block-bg {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
	.offer {
		@include main-container();
		@include flex-start();
		padding-right: 0;
	}
	.offer__content {
		width: size(695px);
		@include flex-col-start();
		padding-top: size(190px);
		@media screen and (max-width: 1050px) {
			width: 100%;
			padding-top: 269px;
			padding-bottom: 123px;
		}
	}
	.span-text {
		color: rgba(255, 255, 255, 0.7);
		margin-bottom: size(18px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 21px;
		}
	}
	.main-block__img {
		width: size(715px);
		height: size(696px);
		@media screen and (max-width: 1050px) {
			display: none;
		}
	}
	.main-title {
		color: white;
		margin-bottom: size(44px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 40px;
		}
	}
	.sub {
		position: relative;
		color: rgba(255, 255, 255, 0.8);
		font-size: size(17px);
		font-weight: 400;
		line-height: 152.3%;
		word-wrap: break-word;
		padding-left: size(27px);
		margin-bottom: size(56px);
		@media screen and (max-width: 1050px) {
			font-size: 17px;
			padding-left: 19px;
			margin-bottom: 89px;
		}
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			width: 0;
			height: 100%;
			border: 1px rgba(255, 255, 255, 0.7) solid;
		}
	}
	.offer__btns {
		@include flex-center();
		justify-content: flex-start;
		gap: size(18px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 32px;
		}
	}
	.about__btn {
		@include flex-center();
		gap: size(10px);
		@include btn(20px, 55.5px, transparent, #fff);
		border: 1px solid #fff;
	}
}
.line {
	width: 100%;
	height: 0;
	border: 1px rgba(13.1, 55.74, 92.44, 0.5) solid;
}
.numbers {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(size(190px), 1fr));
	gap: size(66px);
	padding-top: size(45px);
	padding-bottom: size(78px);
	@media screen and (max-width: 1025px) {
		gap: 37px;
		padding-top: 50px;
		padding-bottom: 66px;
	}
	.numbers__item {
		width: 190px;
		@include flex-col-start();
		gap: size(10px);
		@media screen and (max-width: 1025px) {
			gap: 10px;
		}
	}
	.numbers__sub {
		width: 100%;
		color: rgba(255, 255, 255, 0.8);
		font-size: size(15px);
		font-weight: 500;
		line-height: 100%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
		}
	}
}
//Category
.category {
	position: relative;
	@include main-container();
	@include flex-col-start();
	padding-top: size(123px);
	padding-bottom: size(127px);
	.line {
		position: absolute;
		top: size(28px);
		left: 0;
	}
	.category-bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	.span-text {
		color: rgba(13.1, 55.74, 92.44, 0.5);
	}
}

//!footer
footer {
	position: relative;
	@include main-container();
	@include flex-col-start();
	padding-top: size(103px);
	padding-bottom: size(62px);
	background-color: #051021;
	.footer-img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		opacity: 0.06;
		z-index: 0;
	}
	.footer__content {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: size(105px);
		margin-bottom: size(138px);
		@media screen and (max-width: 1050px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 74px;
			margin-bottom: 38px;
		}
	}
	.footer__title {
		color: rgba(255, 255, 255, 0.9);
		font-size: size(18px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		margin-bottom: size(36px);
		@media screen and (max-width: 1050px) {
			font-size: 18px;
			margin-bottom: 36px;
		}
	}
	.footer__nav {
		@include flex-col-start();
		gap: size(12px);
		@media screen and (max-width: 1050px) {
			gap: 12px;
		}
	}
	.footer__nav__item {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
		}
	}
	.phone {
		@include flex-col-start();
		@media screen and (max-width: 1050px) {
			margin-bottom: 30px;
		}
		.phone__sub {
			text-decoration: none;
		}
		.phone__link {
			color: white;
			font-weight: 400;
		}
	}
	.logo__container {
		margin-left: 0;
	}
	.footer__bottom {
		position: relative;
		width: 100%;
		@include flex-center();
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 22px;
		}
	}
	.icorp {
		@include flex-center();
		justify-content: flex-start;
		gap: size(4px);
		color: rgba(255, 255, 255, 0.5);
		font-size: size(16px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		line-height: 152%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			gap: 4px;
			font-size: 16px;
		}
		img {
			width: size(7.78px);
			height: size(14.76px);
			@media screen and (max-width: 1050px) {
				width: 7.78px;
				height: 14.76px;
			}
		}
	}
	.copy {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			font-size: 14px;
		}
	}
}

.breakets {
	@include main-container();
	@include flex-center();
	justify-content: flex-start;
	gap: size(17px);
	flex-wrap: wrap;
	&.without-img {
		margin-top: size(152px);
		@media screen and (max-width: 1050px) {
			margin-top: 137px;
		}
	}
	@media screen and (max-width: 1050px) {
		gap: 17px;
	}
}

.mobile-container {
	@media screen and (max-width: 1050px) {
		@include main-container();
	}
}

.btns {
	@include flex-center();
	gap: size(15px);
}
.certificate__btn,
.recommendation__btn,
.news__slider__btn {
	width: size(37px);
	height: size(37px);
	cursor: pointer;
	@media screen and (max-width: 1050px) {
		width: 48.22px;
		height: 48.22px;
	}
}
